 body {
    font-family: system-ui, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    padding: 20px;
  }

  h1 { margin: 0;font-size: 14px; }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }

  .header button {
    background: #475569;
    color: white;
    border: none;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
  }

  .top-panels {
    font-size: 14px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }

  .panel {
    background: #1e293b;
    padding: 6px;
    border-radius: 8px;
    min-width: 260px;
    box-shadow: 0 0 0 1px #334155;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
  }

  #machines button {
    background: #1e293b;
    border: 1px solid #334155;
    border-radius: 6px;
    color: #e2e8f0;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 4px;
  }

  #machines button.selected {
    background: transparent;
    border: 2px solid #16a34a;
    box-shadow: 0 0 6px #16a34a88;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(43, 28px);
    grid-template-rows: repeat(23, 28px);
    gap: 3px;
    margin-top: 5px;
  }

  .cell {
    width: 30px;
    height: 30px;
    background: #334155;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    transition: opacity 0.15s;
  }

  .cell:hover {
    background: #475569;
  }
  .machine-tooltip {
  position: absolute;
  background: #1e293b;
  color: #e2e8f0;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #334155;
  font-size: 12px;
  pointer-events: none;
  white-space: pre-line;
  z-index: 1000;
  display: none;
}
#tech-tree {
  max-height: 400px;
  overflow-y: auto;
}
  #resources {
  font-size: 12px;   /* Augmente la taille des ressources */
}

#tech-tree button {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 6px;
  color: #e2e8f0;
  padding: 6px 10px;
  cursor: pointer;
  margin-bottom: 4px;
}
#tech-tree button.unlocked {
  border-color: #16a34a;
  color: #16a34a;
}
